@charset "utf-8";
/* CSS Document */

body {
	background-color:#ffffff;
	font-family:Arial, Helvetica, sans-serif;
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0px;
	font-size:13px;
}
a {
	color:#000000;
	text-decoration:none;
}
a:link {
	color:#000000;
}
a:hover {
	text-decoration:underline;
}
ul{
	padding:0px; margin:0px;
	list-style: none;
}
#wrapper{
	margin:0 auto;
	width:1000px;
	position: relative;
}
#header {
	background-image:url('../images/banner.jpg');
	height:100px;
	background-repeat: no-repeat;
}
nav.menu ul{
	text-align:right;
}
nav.menu ul li{
	display: inline;
}
nav.menu ul li a{
	padding:10px;
}
#menu_line {
	background-image:url('../images/line_menu.jpg');
	height:2px;
}
#menu_left ul{
	border-radius: 0 0 10px	
}
#menu_left ul li{
	margin-top: 1px;
	margin-bottom: 1px;
	line-height: 35px;
	background-color:#fedf8d;
}
#menu_left ul li:hover{
	background-color: #f1f1f1;
}
#menu_left ul li a{
	padding-left: 10px;
	font-weight: bold;
}
#menu_left ul li a:hover{
	color:red;
	text-decoration: none;
}
#online {
	border:1px solid #dddddd;
	margin-top:15px;
	text-align:center;
}
#online_text {
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	padding-bottom:5px;
}
#main {
	width:585px;
	float:left;
	margin-left:8px;
	padding-bottom:5px;
}
#footer {
	background-color:#b32018;
	height:50px;
	clear:both;
	color:#FFFFFF;
	text-align:center;
	padding-top:15px;
}
#logo {
	background-image:url('../images/left2.jpg');
	background-repeat:no-repeat;
	margin-top:10px;
	margin-bottom:10px;
}
#logo ul li img{
	width: 200px;
	margin-top: 5px;
}
#logo ul li img{
	border:1px solid #dddddd;
	padding:1px;
}
#hot_news_bar {
	background-image:url('../images/left2.jpg');
	background-repeat:no-repeat;
	height:25px;
}
#hot_news {
	border:1px solid #dddddd;
	padding:5px;
}
#hot_news ul li{
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dotted #dddddd;
}
.block-news ul li{
	margin-top: 10px;
	position: relative;
}
.block-news ul li .news-title a{
	font-weight: bold;
}
.block-news ul li .news-desc{
	margin-top: 10px;
}
.block-news .news-desc img{
	border:1px solid #dddddd;
	padding:1px;
	float: left;
	margin-right: 5px;
}
.clear{
	clear: both;
}
.block-news .news-detail{
	position: absolute;
	right: 5px;
	bottom: 0px;	
}
.block-news .news-detail a{
	color:red;
}
.news-line{
	border:1px dashed #dddddd;
	margin-top: 10px;
	border-top-width: 0px;
}
.news-category{
	background-image:url('../images/bar.jpg'); 
	background-repeat:no-repeat; line-height:25px;
	font-weight: bold;
	padding-left: 10px;
}
.box-news{
	margin-top: 10px;
}
.slideshow{
	width: 580px;
	overflow: hidden;
	margin-top: 1px;
	border-radius: 10px;
}
.slideshow img{
	border-radius: 10px;
}
aside.sticky-right {
	float:right;
	width:200px;
	margin-top: 1px;
}
aside.sticky-left{
	float: left;
	width: 200px;
}
.pagination{
	margin-top: 20px;
	text-align: right;
	margin-bottom: 20px;
}
.pagination li{
	display: inline;
}
.pagination li a{
	line-height: 30px;
	padding:10px;
	border:1px solid #dddddd;
}
.pagination li a:hover{
	text-decoration: none;
	background-color: #dddddd;
}
.news-content-title{
	margin:10px 0px;
	font-weight: bold;
}
.news-content-desc img{
	max-width: 580px;
}